.card {
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-card;
  padding: 1rem 0;
  @include boxshadow;
  cursor: pointer;
  &__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 2rem 0; 
  }
  &__code {
    font-size: 1.25rem;
    font-weight: 400;
    color: $color-font-light;
    line-height: 0.8;
  }
  &__sinogram {
    font-size: 6rem;
    font-weight: 400;
    color: $color-font-dark;
  }
  &__pinyin {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-font-dark;
  }
  &__example {
    font-size: 2rem;
    font-weight: 400;
    color: $color-font;
  }
}
