@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Noto+Sans+SC:wght@400;700&display=swap');

@font-face {
  font-family: 'simkai';
  src: url('../font/simkai.ttf');
}

body {
  font-family: 'Noto sans SC', sans-serif;
}

input, button {
    font: inherit;
}


