$color-primary: #911a11;
$color-tile: #EEE;
$color-tile-alt: #d1e1e1;
$color-background: #CCC;
$color-blur : rgba(204,204,204,0.7);

$color-font-extralight: #EED;
$color-font-light:#999;
$color-font:#555;
$color-font-dark:#222;
